GITHUB_TOKEN=your_github_personal_access_token
GITHUB_USER_LOGIN=your_github_username

PROJECT_NAME=your_project_name
PROJECTS_DIR=/path/to/your/projects
NOTATION_DIR_ROOT=      # camel, pascal, snake, kebab
REPO_VISIBILITY=        # true = private, false = public
LICENSE_TYPE=           # MIT, Apache-2.0, GPL-3.0, none

COPYRIGHT_AUTHOR="Organization or your name"
COPYRIGHT_YEAR=year




